#txtdisplay{
	-fx-font-size: 22px;
	
}
#lbltourtype{
	-fx-font-size: 30px;
	-fx-font-weight:bold;
}

#txtTourHighlight{
	-fx-font-size: 22px;
	-fx-font-weight: bold; 
}
#lblnostanding{
	-fx-font-size: 30px;
	-fx-font-weight:bold;
}

#msgboxlbl{
	-fx-font-size: 30px;
	-fx-font-weight:bold;
}
#tourStage{
	-fx-font-size: 30px;
	-fx-font-weight:bold;
}

.button{
	-fx-background-color: white;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: red;
	-fx-font-family: "Trebuchet MS";
	-fx-border-width: 1;
	-fx-border-radius: 2;
}

.button:hover{
		-fx-background-color: red;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-font-family: "Trebuchet MS";
	-fx-border-width: 1;
	-fx-border-radius: 2;
	
}